*
{
    margin:0;
    box-sizing:border-box;
}
#main
{
   color:white;
   background:#3b5998; 
   padding-left:50px;
   height:60px;
   padding-top:20px;
}
#box
{
    width:600px;
    margin:auto;
    margin-top:40px;
    padding:50px;
    border:2px solid grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#box1
{
    line-height: 3em;
}
#name
{
   padding:10px 40px;
   font-size:20px;
   border-radius:5px;
}
#cpy
{
    width:200px;
   margin:auto; 
   font-size:20px;
}
#btn1
{
    background:green;
    padding:10px 40px;
    color:white;
    font-size:20px;
    border-radius:9px;
}
#btn
{
    width:30px;
    margin:auto;
}
#output
{
    width:800px;
    margin:auto;
    border:1px solid black;
    padding-left:30px;
    background:grey;
}
